{% extends "parse/base.html" %}
{% block main %}
<div class="container">
    <h2 class="page-header">
        Cart
    </h2>
    <div class="clear-cart-subheader"><a href="{% url 'cart:clear_cart' %}">clear cart</a></div>

    <table>
        <thead>
            <tr>
                <th class="table-header">Product Name</th>
                <th class="table-header">Product ID</th>
                <th class="table-header">Product price</th>
                <th class="table-header">Qty</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'parse:product_details' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.id }}</td>
                <td>{{ product.regular_price }}</td>
                <td>
                    <a href="{% url 'cart:product_inc' product.id %}">+</a>
                    <span class="items-qty" contenteditable onkeydown="handleChange(event)">
                        {{ product.qty }}
                    </span>
                    <a href="{% url 'cart:product_dec' product.id %}">-</a>
                </td>
                <td>
                    <a href="{% url 'cart:remove_product' product.id %}">Remove</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function handleChange(e) {
            if ("0123456789".includes(e.key)) {
                e.target.value += e.key
                console.log(e.key)
            } else {
                e.preventDefault()
            }


        }
    </script>
</div>
{% endblock %}