{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'parse/css/style.css' %}">
    <title>Goods Parser</title>
</head>

<body>
    <header>
        <nav class="nav-panel">
            <ul class="nav-links">
                <li class="nav-link"><a href="{% url 'parse:parse' %}">Add Products</a></li>
                <li class="nav-link"><a href="{% url 'parse:products' %}">My Products</a></li>
                <li class="nav-link"><a href="{% url 'cart:cart' %}">Cart</a></li>
            </ul>
        </nav>
        <h1 class="main-header">Products Parser</h1>
    </header>
    <main>
        {% block main %}{% endblock %}
    </main>
</body>

</html>